AUTH_SERVICE_PORT=8080

AUTH_DB_URL=jdbc:mysql://localhost:3306/fashion?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
AUTH_DB_USERNAME=root
AUTH_DB_PASSWORD=admin

# Mail (Gmail App Password)
AUTH_MAIL_HOST=smtp.gmail.com
AUTH_MAIL_PORT=587
AUTH_MAIL_USERNAME=22130248@st.hcmuaf.edu.vn
AUTH_MAIL_PASSWORD=wnqe ckyg iutr ekxn

# JWT
JWT_SECRET=TeachAISecretKey2025SuperLongSecretKeyForJWT
JWT_EXPIRATION_MS=86400000

# OAuth2
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
FACEBOOK_CLIENT_ID=1418575426075396
FACEBOOK_CLIENT_SECRET=6ce550295abab520ba3a9fd2f6427982

AUTH_GOOGLE_REDIRECT_URI=http://localhost:8080/login/oauth2/code/google
AUTH_FACEBOOK_REDIRECT_URI=http://localhost:8080/login/oauth2/code/facebook

# GHN Integration
GHN_API_URL=https://dev-online-gateway.ghn.vn/shiip/public-api/v2/
GHN_API_TOKEN=497bddce-5978-11f1-a973-aee5264794df

# VNPay (đăng ký sandbox tại https://sandbox.vnpayment.vn/devreg)
VNPAY_TMN_CODE=WBRK24V0
VNPAY_HASH_SECRET=CSB74KJH2R9PMZ36KBAMHIUZ5QWW217X
VNPAY_PAY_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNPAY_RETURN_URL=http://localhost:3000/payment/result

# Frontend
FRONTEND_URL=http://localhost:3000